<footer class="bg-light fixed-bottom text-center text-lg-start">
    <div class="footer-div text-center p-3">
        <p>Projet 2022 - Programmation Web</p>
    </div>
</footer>

<!-- Script JS -->
<script src="interface_accueil.js"></script>
<script src="animation.js"></script>

</body>

</html>