<!-- Barre de navigation -->
<%- include('../partials/head'); %>
  
<!-- Contenu de la page -->
<main>
  <section class="section-impair">
    <div class="div-section-menu">
      <h1 class="title-homepage-section">Erreur</h1>
      <div class="container">
        <p class="description-homepage-section">Vous essayez d'accéder à une page dont vous n'avez pas les permissions. Ou vous essayez d'accéder à une page qui n'existe pas. Faîtes demi-tour, s'il vous plaît...</p>
        <div class="separator"></div>
        <p class="description-homepage-section" style="margin-top: 30px;">Ici, il n'y a pas de pizza.</p>
        <div class="img-interdit"></div>
      </div>
    </div>
  </section>
</main>

<!-- Barre de fin -->
<%- include('../partials/footer'); %>